/.vscode
/01_FM.docx
/01_FM.pdf
/01_FM.txt
/02_힌트텍스트 놔두고 기재.docx
/02_힌트텍스트 놔두고 기재.pdf
/02_힌트텍스트 놔두고 기재.txt
/03_학력 및 경력 복수기재.docx
/03_학력 및 경력 복수기재.pdf
/03_학력 및 경력 복수기재.txt
/10_경력사항기술에 줄 띄기(엔터) 잘 되나확인.docx
/10_경력사항기술에 줄 띄기(엔터) 잘 되나확인.pdf
/10_경력사항기술에 줄 띄기(엔터) 잘 되나확인.txt
/11_사진,경력,자소서 줄띄기,전문대,대학명.docx
/11_사진,경력,자소서 줄띄기,전문대,대학명.pdf
/11_사진,경력,자소서 줄띄기,전문대,대학명.txt
/12_학력,경력 복수입력.docx
/12_학력,경력 복수입력.pdf
/12_학력,경력 복수입력.txt
/copybase.py
/rere.py
/resume_list(1).xlsx
/resume_list(10).xlsx
/resume_list(11).xlsx
/resume_list(12).xlsx
/resume_list(13).xlsx
/resume_list(14).xlsx
/resume_list(15).xlsx
/resume_list(16).xlsx
/resume_list(17).xlsx
/resume_list(18).xlsx
/resume_list(2).xlsx
/resume_list(3).xlsx
/resume_list(4).xlsx
/resume_list(5).xlsx
/resume_list(6).xlsx
/resume_list(7).xlsx
/resume_list(8).xlsx
/resume_list(9).xlsx
/resume_out1.log
/resume_out2.log
/RPA용 양식_확정 (1).docx
/RPA용 양식_확정 (1).pdf
/RPA용 양식_확정 (1).txt
/RPA용 양식_확정 (2).docx
/RPA용 양식_확정 (2).pdf
/RPA용 양식_확정 (2).txt
/RPA용 양식_확정 (3).docx
/RPA용 양식_확정 (3).pdf
/RPA용 양식_확정 (3).txt
/RPA용 양식_확정 - 복사본 (1).docx
/RPA용 양식_확정 - 복사본 (1).pdf
/RPA용 양식_확정 - 복사본 (1).txt
/RPA용 양식_확정.docx
/RPA용 양식_확정.pdf
/RPA용 양식_확정.txt
/RPA용 양식_확정11.txt
/test.py
/__pycache__
/동의서양식-R9용.docx
/동의서양식-R9용.pdf
/동의서양식-R9용.txt
/백업 코드.txt
/이력서-2021년.docx
/이력서-2021년.docx.원본파일
/이력서-2021년.pdf
/이력서-2021년.txt